<table class="table">
    <thead>
      <tr>
        <th scope="col" class="tableCollpse-hdr"></th>
        <th scope="col">Account Number</th>
        <th scope="col">Application Date</th>
        <th scope="col">Source</th>
        <th scope="col">Product Package</th>
      </tr>
    </thead>
    <tbody>
      <!-- Table Row for Account -->
      <tr (click)="toggleRow('expandedRow1')" [class.table-expanded]="isRowExpanded('expandedRow1')">
        <td scope="col" class="tableCollpse-dby p-15 align-middle">
          <button class="btn btn-link" type="button">
            <span class="td-icon" [ngClass]="{'td-icon-expand': !isRowExpanded('expandedRow1'), 'td-icon-collapse': isRowExpanded('expandedRow1')}"></span>
          </button>
        </td>
        <td scope="col" data-title="Account Number" class="p-15 align-middle">4829572146</td>
        <td scope="col" data-title="Application Date" class="p-15 align-middle">11/19/2023</td>
        <td scope="col" data-title="Source" class="p-15 align-middle">Commercial</td>
        <td scope="col" data-title="Product Package" class="p-15 align-middle">1.0</td>
      </tr>
  
      <!-- Expanded Row Content -->
      <tr id="expandedRow1" [ngClass]="{'collapse': !isRowExpanded('expandedRow1'), 'show': isRowExpanded('expandedRow1')}">
        <td colspan="5" class="p-0">
          <app-expanded-row></app-expanded-row>
        </td>
      </tr>
    </tbody>
  </table>
  