<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-12">
      <!-- If the user is part of the PDI-RACT-GA group -->
      <div class="row" *ngIf="isGaGroup">
        <div class="col-12">
          <app-search-results></app-search-results>
        </div>
      </div>

      <!-- If the user is part of the PDI-RACT-ADMIN group -->
      <div class="row mt-4" *ngIf="isAdminGroup">
        <div class="col-12">
          <app-config-table></app-config-table>
        </div>
      </div>
    </div>
  </div>
</div>