<div class="row justify-content-center align-items-center" *ngIf="isLoading" style="height: 75vh;">
  <div class="col-auto">
    <div class="td-spinner-continer">
      <h1>Please wait</h1>
      <img class="td-spinner" src="assets/img/td-emerald-loading-medium.png" alt="">
      <p>Loading...</p>
    </div>
  </div>
</div>
  
  <div *ngIf="errorMessage">
    <p class="error">{{ errorMessage }}</p>  <!-- Display error message if it exists -->
  </div>
  
  <!-- Rest of your login component content -->
  